<main class="container">
	<div class="row w-100">
		<div class="col-md-12 py-4">
			<div role="container">
				<div class="box-heading my-3">	
					<h3 class="px-2">
						<a href="#" class="black block-header">The Lore Board ▷</a>
					</h3>
				</div>
				<div class="row">
					<div class="layout-spacer"></div>
					<div class="col bg-red p-2 w-100 embeded-information">
						<div class="position-relative show-more-bar">
							<p class="black my-0 w-50 text-center show-more-btn">Show More</p>
						</div>
						<div id="my-campaigns-feed" class="col px-2 h-100">
							<p class="faded-white my-auto align-middle text-center nothing-happening">Oops! There's nothing to show at the moment.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>